.title {
  background-image: url('src/assets/images/suli.png'); /* Use relative path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}

.h1 {
  margin-left: 32%;
}
