* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #faedcf;
  background-image: url(assets/images/erbil.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: #2e8b57;
  font-family: 'Itim', serif;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  width: 600px;
  height: 400px;
  transition: transform 0.3s;
  margin: 10px;
}
.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.card_img1 {
  width: 75%;
  height: 75%;

  margin-left: 200px;
}

.slide {
  transition: all 0.7s ease-in-out;
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}
.slide:not(.active) {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}
